button {
    margin-bottom: 15px;
    background-color: #2AB393 !important;
    margin-right: 5px;;
}

table {
    width: 100%; 
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}
